// start footer Area
footer.footer-area.section-gap
	.container
		.footer-bottom.row.align-items-center
			p.footer-text.m-0.col-lg-8.col-md-12
				| #{settings.copyright}
			.col-lg-4.col-md-12.footer-social
				a(href=settings.linkSocial.facebook)
					i.fa.fa-facebook
				a(href=settings.linkSocial.twitter)
					i.fa.fa-twitter
				a(href=settings.linkSocial.google)
					i.fa.fa-google
				a(href=settings.linkSocial.skype)
					i.fa.fa-skype

include linkLibrary/linkJs

