script(src=linkFolder+'js/vendor/jquery-2.2.4.min.js')
script(src=linkFolder+'js/vendor/bootstrap.min.js')
script(src=linkFolder+'js/easing.min.js')
script(src=linkFolder+'js/hoverIntent.js')
script(src=linkFolder+'js/superfish.min.js')
script(src=linkFolder+'js/jquery.ajaxchimp.min.js')
script(src=linkFolder+'js/jquery.magnific-popup.min.js')
script(src=linkFolder+'js/mn-accordion.js')
script(src=linkFolder+'js/jquery-ui.js')
script(src=linkFolder+'js/jquery.nice-select.min.js')
script(src=linkFolder+'js/owl.carousel.min.js')
script(src=linkFolder+'js/mail-script.js')
script(src=linkFolder+'js/main.js')