link(rel='stylesheet', href=linkFolder+'css/linearicons.css')
link(rel='stylesheet', href=linkFolder+'css/font-awesome.min.css')
link(rel='stylesheet', href=linkFolder+'css/bootstrap.css')
link(rel='stylesheet', href=linkFolder+'css/magnific-popup.css')
link(rel='stylesheet', href=linkFolder+'css/nice-select.css')
link(rel='stylesheet', href=linkFolder+'css/animate.min.css')
link(rel='stylesheet', href=linkFolder+'css/owl.carousel.css')
link(rel='stylesheet', href=linkFolder+'css/jquery-ui.css')
link(rel='stylesheet', href=linkFolder+'css/main.css')