
extends ../../../layout/backend/layout
block content
	//- include ../../../layout/backend/helpers/status
	include ../../../layout/backend/helpers/source-by
	include ../../../layout/backend/helpers/sort
	-var collection = 'menu';
	.row
		.col-lg-12
			h1.page-header Manage Menu
	.row
		.col-lg-12
			//- div!=locals.flash
			include ../../../layout/backend/elements/notification
			.panel.panel-default
				.panel-heading
					| List Menu
				// /.panel-heading
				.panel-body
					form(role="form", class="form-ininline zt-form" , id="menu-form" action='/'+system.prefixAdmin+'/'+collection +'/save', method="post")


						//- actionHelper
						include ../../../layout/backend/helpers/actionMenu
						+actionMenuHelper(collection)


						#dataTables-example_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
							.row
								style.
									body.dragging, body.dragging * {
									cursor: move !important;
									}

									.dragged {
									position: absolute;
									opacity: 0.5;
									z-index: 2000;
									}

									ol.example li.placeholder {
									position: relative;
									/** More li styles **/
									}
									ol.example li.placeholder:before {
									position: absolute;
									/** Define arrowhead **/
									}
								.col-sm-12
									ul.contentListUser.nested_with_switch.vertical
										-if(!item)
											each item in items
												li.gradeA.odd(role='row',data-name=(item.name)?item.name:'',data-slug=(item.slug)?item.slug:'')
													.item-menu
														.menu-item-col
															p.menu-name=item.name
															.menu-item__btn
																span.btn.btn-primary.btn-edit-menu Edit
																span.btn.btn-danger.btn-delete-menu Delete
														.form-item-menu(style="display:none")
															.form-item-menu__content
																| Name : 
																input(type="text",value=item.name,class="form-menu-name",name="menu_name",required)
															.form-item-menu__content
																| Slug : 
																input(type="text",value=item.slug,class="form-menu-slug",name="menu_slug",required)
													ul
														-if(item.children != null&&item.children!=undefined)
															each child in item.children
																li.gradeA.odd(role='row',data-name=(child.name)?child.name:'',data-slug=(child.slug)?child.slug:'')
																	.item-menu
																		.menu-item-col
																			p.menu-name=child.name
																			.menu-item__btn
																				span.btn.btn-primary.btn-edit-menu Edit
																				span.btn.btn-danger.btn-delete-menu Delete
																		.form-item-menu(style="display:none")
																			.form-item-menu__content
																				| Name : 
																				input(type="text",value=child.name,class="form-menu-name",name="menu_name",required)
																			.form-item-menu__content
																				| Slug : 
																				input(type="text",value=child.slug,class="form-menu-slug",name="menu_slug",required)
													//- div.menu-item-col
													//- 	a.btn.btn-danger(href='/'+system.prefixAdmin+'/'+collection+'/delete/'+item.id, onclick="return confirm('bạn có muốn xoá phần tử này?');") Delete
							//- pagination
							+pagination(pagination,collection+'/list',currentStatus,keyword)